
.card-fieldset{
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    height: 100px;
    background-color: #FBF3E4;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 32px #0404043D;
}

.card-star{
    color: red;
}
.card-input{
    height: 40px;
    border-radius: 20px;
    border: 2px solid rgb(78, 145, 233);
    font-size: 16px;

}

.btn-submit{
    margin-top: 40px;
    width: 148px;
    height: 50px;
    border-radius: 10px;
    background-color: #09BEAD;
    box-shadow: 0px 16px 29px #09BEAD;
    color: white;
    font-size: 15px;

}

.input{
    display: flex;
    margin-left: 35%;
}

.input-value{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
}

.delete{
    margin-top: 23px;
    margin-left: 20px;
    font-size: 20px;
}